In [1]:
def myfunc(list=[1,2,3,4,5]):
    print(list)

In [2]:
myfunc(["ge","e"])

['ge', 'e']

In [17]:
import pandas as pd
import pickle
import time

In [18]:
%%time
df = pd.read_csv('2019_sentence_aspect10.csv', encoding ='utf-8-sig', index_col = 0)
df

Wall time: 7.34 s

,real_time,day,like,url,original,sentence,0
0,2019-09-27,2019-09-27,6,https://blog.naver.com/lisa7377?Redirect=Log&l...,0,"['오빠', '항상', '뭔가', '남', '다르다', '놀다', '가족', '편하...",8
1,2019-09-27,2019-09-27,6,https://blog.naver.com/lisa7377?Redirect=Log&l...,0,"['젠더', '이상', '곤듀', '아니다', '오빠', '이르다', '놓다', '...",6
2,2019-09-27,2019-09-27,6,https://blog.naver.com/lisa7377?Redirect=Log&l...,0,"['처음', '친구', '제주도', '여행', '다녀오다', '길', '시크릿', ...",8
3,2019-08-07,2019-08-07,21,https://blog.naver.com/koking9122?Redirect=Log...,2,"['아침', '해독', '쥬스', '옥수수', '고구마', '파프리카', '당근',...",8
4,2019-08-07,2019-08-07,21,https://blog.naver.com/koking9122?Redirect=Log...,2,"['간식', '옥수수', '사과', '하나', '폭풍', '빨래', '간식', '먹다']",8
...,...,...,...,...,...,...,...
488214,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['기본', '셋팅', '테이블', '삼겹살', '메다', '젓', '소스', '저...",8
488215,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['구미', '상', '모동', '먹다', '줄', '상상', '몬']",8
488216,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['푸다', '지다']",8
488217,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['여기', '대박', '메뉴판', '보시', '눈치', '채다', '분', '알다...",8
488218,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['상모', '맛집', '상모', '동정', '정가', '성비', '가족', '모임']",8

In [25]:
%%time
df.to_csv('csv_test.csv', encoding = 'utf-8-sig')

Wall time: 13.1 s

In [26]:
%%time
df.to_pickle('pickle_test.pkl')

Wall time: 646 ms

In [27]:
%%time
test = pd.read_pickle('pickle_test.pkl')
test

Wall time: 1.67 s

,real_time,day,like,url,original,sentence,0
0,2019-09-27,2019-09-27,6,https://blog.naver.com/lisa7377?Redirect=Log&l...,0,"['오빠', '항상', '뭔가', '남', '다르다', '놀다', '가족', '편하...",8
1,2019-09-27,2019-09-27,6,https://blog.naver.com/lisa7377?Redirect=Log&l...,0,"['젠더', '이상', '곤듀', '아니다', '오빠', '이르다', '놓다', '...",6
2,2019-09-27,2019-09-27,6,https://blog.naver.com/lisa7377?Redirect=Log&l...,0,"['처음', '친구', '제주도', '여행', '다녀오다', '길', '시크릿', ...",8
3,2019-08-07,2019-08-07,21,https://blog.naver.com/koking9122?Redirect=Log...,2,"['아침', '해독', '쥬스', '옥수수', '고구마', '파프리카', '당근',...",8
4,2019-08-07,2019-08-07,21,https://blog.naver.com/koking9122?Redirect=Log...,2,"['간식', '옥수수', '사과', '하나', '폭풍', '빨래', '간식', '먹다']",8
...,...,...,...,...,...,...,...
488214,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['기본', '셋팅', '테이블', '삼겹살', '메다', '젓', '소스', '저...",8
488215,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['구미', '상', '모동', '먹다', '줄', '상상', '몬']",8
488216,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['푸다', '지다']",8
488217,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['여기', '대박', '메뉴판', '보시', '눈치', '채다', '분', '알다...",8
488218,2019-07-07,2019-07-07,5,https://blog.naver.com/hej1248?Redirect=Log&lo...,138706,"['상모', '맛집', '상모', '동정', '정가', '성비', '가족', '모임']",8

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488219 entries, 0 to 488218
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   real_time  488219 non-null  object
 1   day        488219 non-null  object
 2   like       488219 non-null  object
 3   url        488219 non-null  object
 4   original   488219 non-null  int64
 5   sentence   488219 non-null  object
 6   0          488219 non-null  int64
dtypes: int64(2), object(5)
memory usage: 29.8+ MB

In [29]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488219 entries, 0 to 488218
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   real_time  488219 non-null  object
 1   day        488219 non-null  object
 2   like       488219 non-null  object
 3   url        488219 non-null  object
 4   original   488219 non-null  int64
 5   sentence   488219 non-null  object
 6   0          488219 non-null  int64
dtypes: int64(2), object(5)
memory usage: 29.8+ MB